@value ui-white, ui-purple, ui-blue, ui-green, ui-tomato, ui-light, ui-fade-silver, ui-silver, ui-gray, ui-slate, ui-dark-slate from 'ui-colors';

:global(.icon-button) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  & svg {
    fill: color(ui-dark-slate a(60%));
    margin: 10px;
    display: inline-block;
    vertical-align: bottom;
    transition: fill 200ms ease;
  }
  &:hover {
    & svg {
      fill: ui-dark-slate;
    }
  }
  &:global(.purple) {
    color: ui-white;
    border-radius: 3px;
    background-color: ui-purple;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-purple blackness(-24%));
    }
  }
  &:global(.blue) {
    color: ui-white;
    border-radius: 3px;
    background-color: ui-blue;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-blue blackness(+12%));
    }
  }
  &:global(.border) {
    color: ui-white;
    border-radius: 3px;
    border: 1px solid ui-silver;
    transition: border 200ms ease;
    &:hover {
      border: 1px solid ui-slate;
    }
  }
  &:global(.dark) {
    color: ui-white;
    border-radius: 3px;
    background-color: ui-slate;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-slate blackness(-12%));
    }
  }
  &:global(.silver) {
    & svg {
      fill: ui-silver;
    }
    &:hover {
      & svg {
        fill: ui-white;
      }
    }
  }
  &:global(.light) {
    & svg {
      fill: color(ui-white a(64%));
    }
    &:hover {
      & svg {
        fill: ui-white;
      }
    }
  }

  &:global(.purple),
  &:global(.blue),
  &:global(.dark) {
    & svg {
      fill: currentColor;
      margin: 4px;
    }
  }
}
