@value ui-white, ui-purple, ui-blue, ui-green, ui-tomato, ui-light, ui-fade-silver, ui-silver, ui-gray, ui-slate, ui-dark-slate from 'ui-colors';
@value radius-s, radius-m, radius-l from 'ui-radius';
@value margin-xs, margin-s, margin-m, margin-l, margin-xl from 'ui-margin';
@import "../../_styles/extend.css";

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  display: none;
}

:global(textarea),
:global(input[type='text']),
:global(input[type='number']),
:global(input[type='Password']),
:global(input[type='email']),
:global(input[type='tel']),
:global(input[type='date']),
:global(input[type='datetime']) {
  line-height: inherit;
  padding: 7px 12px;
  background-color: ui-white;
  border-radius: radius-s;
  border: 1px solid ui-silver;
  transition: border 250ms cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 250ms cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    outline: none;
    box-shadow: inset ui-light 0 0 0 2px;
  }

  &:focus {
    outline: none;
    border: 1px solid ui-purple;
    box-shadow: inset color(ui-purple a(15%)) 0 0 0 2px;
  }

  &::-webkit-input-placeholder {
    color: ui-gray;
  }
}

:global(input[type='text']:disabled),
:global(input[type='number']:disabled),
:global(input[type='Password']:disabled),
:global(input[type='email']:disabled),
:global(input[type='tel']:disabled),
:global(input[type='date']:disabled),
:global(input[type='datetime']:disabled),
:global(textarea[name='address']:disabled) {
  cursor: not-allowed;
  color: ui-gray;
  background-color: color(ui-silver a(16%));
  border: 1px solid ui-fade-silver;

  &:hover {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

:global(input[type='text']:read-only),
:global(input[type='number']:read-only),
:global(input[type='Password']:read-only),
:global(input[type='email']:read-only),
:global(input[type='tel']:read-only),
:global(input[type='date']:read-only),
:global(input[type='datetime']:read-only),
:global(textarea[name='address']:read-only) {
  &:hover {
    outline: none;
    box-shadow: inset ui-light 0 0 0 2px;
  }

  &:focus {
    outline: none;
    border: 1px solid ui-gray;
    box-shadow: inset color(ui-gray a(15%)) 0 0 0 2px;
  }
}


:global(.ui-fieldset) {
  display: flex;
  flex-flow: row wrap;
}

:global(.field-control) {
  display: flex;
  flex-wrap: wrap;

  &:global(.row) {
    flex-flow: row nowrap;

    & > div {
      margin-right: margin-m;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &:global(.column) {
    flex-direction: column;
  }

  &:global(.small) {
    flex-basis: 25%;

    @media (--tablet) {
      flex-basis: 55%;
    }

    @media (--mobile) {
      flex-basis: 100%;
    }
  }

  &:global(.middle) {
    flex-basis: 55%;

    @media (--mobile) {
      flex-basis: 100%;
    }
  }

  &:global(.middle-upper) {
    flex-basis: 55%;

    @media (--below-laptop) {
      flex-basis: 100%;
    }
  }

  &:global(.large) {
    flex-basis: 100%;
  }

  & > div {
    flex-grow: 1;
  }

  & label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: margin-m;
  }

  & input {
    position: relative;
    width: 100%;
    margin-top: margin-m;
  }
}

:global(.field-help) {
  flex-grow: 1;
}

:global(.field-control.small + .field-help),
:global(.field-control.middle + .field-help) {
  @media (--tablet) {
    flex-basis: 40%;
  }

  @media (--mobile) {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: margin-m;
    padding-left: 0;
    border: none;
  }
}
:global(.field-control.middle-upper + .field-help) {
  @media (--below-laptop) {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: margin-m;
    padding-left: 0;
    border: none;
  }
}


:global(.small + .field-help),
:global(.middle + .field-help),
:global(.middle-upper + .field-help) {
  margin-left: 2.5%;
  padding-left: 2.5%;
  border-left: 1px solid ui-silver;
}

:global(.has-label + .field-help),
:global(.has-label + .field-help) {
  margin-top: 44px;
}

:global(.field-control.large + .field-help) {
  margin-top: margin-m;
}

:global(.field-error) {
  margin-top: margin-m;
  padding: 0 margin-xs;
  border-radius: radius-s;
  color: ui-tomato;
  background-color: color(ui-tomato a(20%));
}

:global(.ui-input) {

}

:global(.ui-number) {
  & :global(.inner-wrapper) {
    position: relative;

    & > [type=number] {
      text-align: center;
    }

    & > :global(.increase),
    & > :global(.decrease) {
      position: absolute;
      top: 1px;
      width: 20px;
      height: 20px;
      background-color: ui-gray;
    }

    & > :global(.increase) {
      right: 1px;
    }

    & > :global(.decrease) {
      left: 1px;
    }
  }
}

:global(.ui-checkbox),
:global(.ui-radio) {
  & input {
    display: none;
  }
}
