@value ui-gray, ui-purple, ui-silver, ui-tomato from 'ui-colors';

input {
  padding: 0;
  border: 1px solid ui-silver;
  appearance: none;
}

:global(.ui-fieldset) {
  display: flex;
  flex-flow: row wrap;
}

:global(.field-control) {
  display: flex;
  flex-wrap: wrap;

  &:global(.row) {
    flex-direction: row;
  }

  &:global(.column) {
    flex-direction: column;
  }

  &:global(.small) {
    flex-basis: 25%;
  }

  &:global(.middle) {
    flex-basis: 55%;
  }

  &:global(.large) {
    flex-basis: 100%;
  }

  & label {
    position: relative;
  }

  & input {
    position: relative;
    width: 100%;
  }
}

:global(.field-help) {
  flex-grow: 1;
}

:global(.has-label + .field-help) {
  margin-top: 12px;
}

:global(.field-error) {
  color: ui-tomato;
  background-color: color(ui-tomato a(20%));
}

:global(.ui-input) {
  flex-grow: 1;
}
