@value ui-white, ui-purple, ui-blue, ui-green, ui-tomato, ui-light, ui-fade-silver, ui-silver, ui-gray, ui-slate, ui-dark-slate from 'ui-colors';
@value radius-s, radius-m, radius-l from 'ui-radius';
@value margin-xs, margin-s, margin-m, margin-l, margin-xl from 'ui-margin';
@import "../../_styles/extend.css";

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  display: none;
}

:global(textarea),
:global(input) {
  line-height: inherit;
  padding: 7px 12px;
  background-color: ui-white;
  border-radius: radius-s;
  border: 1px solid ui-silver;
  transition: border 250ms cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 250ms cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    outline: none;
    box-shadow: inset ui-light 0 0 0 2px;
  }

  &:focus {
    outline: none;
    border: 1px solid ui-purple;
    box-shadow: inset color(ui-purple a(15%)) 0 0 0 2px;
  }

  &::-webkit-input-placeholder {
    color: ui-gray;
  }
}

:global(textarea:disabled),
:global(input:disabled) {
  cursor: not-allowed;
  color: ui-gray;
  background-color: color(ui-silver a(16%));
  border: 1px solid ui-fade-silver;

  &:hover {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

:global(textarea:read-only),
:global(input:read-only) {
  &:hover {
    outline: none;
    box-shadow: inset ui-light 0 0 0 2px;
  }

  &:focus {
    outline: none;
    border: 1px solid ui-gray;
    box-shadow: inset color(ui-gray a(15%)) 0 0 0 2px;
  }
}

:global(.ui-fieldset) {
  display: flex;
  flex-flow: row wrap;
}

:global(.field-control) {
  display: flex;
  flex-wrap: wrap;

  &:global(.row) {
    flex-flow: row nowrap;

    & > div {
      margin-right: margin-m;

      &:last-of-type {
        margin-right: 0;
      }
    }

    @media (--mobile) {
      flex-direction: column;

      & > div {
        margin-right: 0;
      }
    }
  }

  &:global(.column) {
    flex-direction: column;
  }

  &:global(.s) {
    flex-basis: 25%;

    @media (--tablet) {
      flex-basis: 55%;
    }

    @media (--mobile) {
      flex-basis: 100%;
    }
  }

  &:global(.m) {
    flex-basis: 55%;

    @media (--mobile) {
      flex-basis: 100%;
    }
  }

  &:global(.l) {
    flex-basis: 55%;

    @media (--below-laptop) {
      flex-basis: 100%;
    }
  }

  &:global(.xl) {
    flex-basis: 100%;
  }

  & > div {
    flex-grow: 1;
  }

  & label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: margin-m;
    user-select: none;
  }

  & input {
    position: relative;
    width: 100%;
  }
}

:global(.field-help) {
  position: relative;
  flex-grow: 1;
  color: ui-gray;
}

:global(.field-control.s + .field-help),
:global(.field-control.m + .field-help) {
  @media (--tablet) {
    flex-basis: 40%;
  }

  @media (--mobile) {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: margin-m;
    padding-left: 0;
    border: none;
  }
}

:global(.field-control.l + .field-help) {
  @media (--below-laptop) {
    flex-basis: 100%;
    margin-left: 0;
    padding-left: 0;
    border: none;
  }
}

:global(.s + .field-help),
:global(.m + .field-help),
:global(.l + .field-help) {
  margin-left: 2.5%;
  padding-left: 2.5%;
  border-left: 1px solid ui-silver;
}

:global(.field-control.xl + .field-help) {
  margin-top: margin-m;
}

:global(.field-error) {
  margin-top: margin-m;
  padding: 0 margin-xs;
  border-radius: radius-s;
  color: ui-tomato;
  background-color: color(ui-tomato a(20%));
}

:global(.ui-input) {
  & input {
    margin-top: margin-m;
  }
}

:global(.field-control.l.ui-input + .field-help) {
  @media (--below-laptop) {
    margin-top: margin-m;
  }
}

:global(.has-label + .field-help),
:global(.has-label + .field-help) {
  margin-top: 44px;
}

:global(.ui-spinner) {
  & :global(.inner-wrapper) {
    position: relative;
    margin-top: margin-m;

    & > [type=number] {
      text-align: center;
    }

    & > :global(.increase),
    & > :global(.decrease) {
      cursor: pointer;
      position: absolute;
      top: 1px;
      width: 34px;
      height: 34px;

      &:hover {
        & svg {
          fill: ui-dark-slate;
        }
      }
    }

    & > :global(.increase) {
      right: 1px;
    }

    & > :global(.decrease) {
      left: 1px;
    }

    & svg {
      fill: ui-gray;
      transition: fill 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    & :disabled {
      & ~ a {
        pointer-events: none;
      }
    }
  }
}

:global(.ui-checkbox),
:global(.ui-radio) {
  & > div {
    margin-top: margin-m;
  }

  & input {
    display: none;
  }

  & svg {
    display: inline-block;
    vertical-align: bottom;

    & > path {
      transition: fill 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

:global(.checked-svg) {
  fill: ui-purple;
}

:global(.unchecked-svg) {
  fill: ui-silver;
}

:global(.s.ui-radio + .field-help),
:global(.m.ui-radio + .field-help),
:global(.l.ui-radio + .field-help),
:global(.s.ui-checkbox + .field-help),
:global(.m.ui-checkbox + .field-help),
:global(.l.ui-checkbox + .field-help) {
  margin-top: margin-l;
}

:global(.l.ui-radio + .field-help),
:global(.l.ui-checkbox + .field-help) {
  @media (--below-laptop) {
    margin-top: margin-m;
  }
}

:global(.s.ui-radio + .field-help),
:global(.s.ui-checkbox + .field-help),
:global(.m.ui-radio + .field-help),
:global(.m.ui-checkbox + .field-help) {
  @media (--mobile) {
    margin-top: margin-m;
  }
}

:global(.ui-radio),
:global(.ui-checkbox) {
  & label {
    &:hover {
      & :global(.checked-svg) {
        fill: color(ui-purple s(24%));
      }

      & :global(.unchecked-svg) {
        fill: ui-gray;
      }
    }
  }
}
