<div class="icon-column">
  <ul class="icon-preview">
    <li><i class="ic-solid dark ic-backspace-1"></i></li>
    <li><i class="ic-solid dark ic-bell-2"></i></li>
    <li><i class="ic-solid dark ic-box-1"></i></li>
    <li><i class="ic-solid dark ic-building-1"></i></li>
    <li><i class="ic-solid dark ic-building-add-1"></i></li>
    <li><i class="ic-solid dark ic-cart-1"></i></li>
    <li><i class="ic-solid dark ic-checkmark-2"></i></li>
    <li><i class="ic-solid dark ic-credit-card-1"></i></li>
    <li><i class="ic-solid dark ic-dashboard-1"></i></li>
    <li><i class="ic-solid dark ic-document-1"></i></li>
    <li><i class="ic-solid dark ic-exclamation-point-1"></i></li>
    <li><i class="ic-solid dark ic-exclamation-point-2"></i></li>
    <li><i class="ic-solid dark ic-eye-3"></i></li>
    <li><i class="ic-solid dark ic-files-1"></i></li>
    <li><i class="ic-solid dark ic-filter-1"></i></li>
    <li><i class="ic-solid dark ic-folder-1"></i></li>
    <li><i class="ic-solid dark ic-heart-1"></i></li>
    <li><i class="ic-solid dark ic-info-2"></i></li>
    <li><i class="ic-solid dark ic-life-ring-1"></i></li>
    <li><i class="ic-solid dark ic-lightbulb-3"></i></li>
    <li><i class="ic-solid dark ic-location-pin-1"></i></li>
    <li><i class="ic-solid dark ic-magic-wand-1"></i></li>
    <li><i class="ic-solid dark ic-megaphone-1"></i></li>
    <li><i class="ic-solid dark ic-multiple-documents-1"></i></li>
    <li><i class="ic-solid dark ic-pin-1"></i></li>
    <li><i class="ic-solid dark ic-plus-1"></i></li>
    <li><i class="ic-solid dark ic-question-2"></i></li>
    <li><i class="ic-solid dark ic-rocket-1"></i></li>
    <li><i class="ic-solid dark ic-shirt-1"></i></li>
    <li><i class="ic-solid dark ic-star-2"></i></li>
    <li><i class="ic-solid dark ic-trash-2"></i></li>
    <li><i class="ic-solid dark ic-user-2"></i></li>
    <li><i class="ic-solid dark ic-watch-1"></i></li>
    <li><i class="ic-solid dark ic-window-1"></i></li>
  </ul>

  <ul class="icon-preview light">
    <li><i class="ic-solid light ic-backspace-1"></i></li>
    <li><i class="ic-solid light ic-bell-2"></i></li>
    <li><i class="ic-solid light ic-box-1"></i></li>
    <li><i class="ic-solid light ic-building-1"></i></li>
    <li><i class="ic-solid light ic-building-add-1"></i></li>
    <li><i class="ic-solid light ic-cart-1"></i></li>
    <li><i class="ic-solid light ic-checkmark-2"></i></li>
    <li><i class="ic-solid light ic-credit-card-1"></i></li>
    <li><i class="ic-solid light ic-dashboard-1"></i></li>
    <li><i class="ic-solid light ic-document-1"></i></li>
    <li><i class="ic-solid light ic-exclamation-point-1"></i></li>
    <li><i class="ic-solid light ic-exclamation-point-2"></i></li>
    <li><i class="ic-solid light ic-eye-3"></i></li>
    <li><i class="ic-solid light ic-files-1"></i></li>
    <li><i class="ic-solid light ic-filter-1"></i></li>
    <li><i class="ic-solid light ic-folder-1"></i></li>
    <li><i class="ic-solid light ic-heart-1"></i></li>
    <li><i class="ic-solid light ic-info-2"></i></li>
    <li><i class="ic-solid light ic-life-ring-1"></i></li>
    <li><i class="ic-solid light ic-lightbulb-3"></i></li>
    <li><i class="ic-solid light ic-location-pin-1"></i></li>
    <li><i class="ic-solid light ic-magic-wand-1"></i></li>
    <li><i class="ic-solid light ic-megaphone-1"></i></li>
    <li><i class="ic-solid light ic-multiple-documents-1"></i></li>
    <li><i class="ic-solid light ic-pin-1"></i></li>
    <li><i class="ic-solid light ic-plus-1"></i></li>
    <li><i class="ic-solid light ic-question-2"></i></li>
    <li><i class="ic-solid light ic-rocket-1"></i></li>
    <li><i class="ic-solid light ic-shirt-1"></i></li>
    <li><i class="ic-solid light ic-star-2"></i></li>
    <li><i class="ic-solid light ic-trash-2"></i></li>
    <li><i class="ic-solid light ic-user-2"></i></li>
    <li><i class="ic-solid light ic-watch-1"></i></li>
    <li><i class="ic-solid light ic-window-1"></i></li>
  </ul>
</div>