<div class="icon-column">
	<ul class="icon-preview">
		<li><i class="ic-social dark ic-dropbox"></i></li>
		<li><i class="ic-social dark ic-facebook"></i></li>
		<li><i class="ic-social dark ic-flickr"></i></li>
		<li><i class="ic-social dark ic-google"></i></li>
		<li><i class="ic-social dark ic-linkedin"></i></li>
		<li><i class="ic-social dark ic-qq"></i></li>
		<li><i class="ic-social dark ic-twitter"></i></li>
		<li><i class="ic-social dark ic-wechat"></i></li>
		<li><i class="ic-social dark ic-weibo"></i></li>
		<li><i class="ic-social dark ic-youtube"></i></li>
	</ul>

	<ul class="icon-preview light">
		<li><i class="ic-social light ic-dropbox"></i></li>
		<li><i class="ic-social light ic-facebook"></i></li>
		<li><i class="ic-social light ic-flickr"></i></li>
		<li><i class="ic-social light ic-google"></i></li>
		<li><i class="ic-social light ic-linkedin"></i></li>
		<li><i class="ic-social light ic-qq"></i></li>
		<li><i class="ic-social light ic-twitter"></i></li>
		<li><i class="ic-social light ic-wechat"></i></li>
		<li><i class="ic-social light ic-weibo"></i></li>
		<li><i class="ic-social light ic-youtube"></i></li>
	</ul>
</div>
