@value ui-white, ui-fade-slate, ui-silver from 'ui-colors';

.header {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0 0 0 12px;
  background-color: ui-white;
  border-bottom: 1px solid ui-silver;
  & a {
    float: right;
  }
  & > svg {
    vertical-align: sub;
    margin-right: 6px;
    fill: ui-fade-slate;
  }
  & > span {
    line-height: 36px;
  }
}
