@value ui-purple, ui-silver from 'ui-colors';

:global(body) {
  background-color: color(ui-silver a(24%));
}

:global(.container) {
  clear: fix;
  max-width: 940px;
  margin: 0 auto;
  border: 1px solid ui-silver;
  background-color: white;
}

:global(.example) {
  padding: 32px 24px;

  & h2 {
    margin-bottom: 18px;
    padding-bottom: 6px;
    border-bottom: 1px solid ui-silver;
  }

  & h3 {
    margin-bottom: 12px;
  }
}

:global(.content-wrap) {
  position: relative;
  border: 1px solid ui-silver;
  border-radius: 2px;
  background-color: white;
  clear: fix;
}

:global(.content-row) {
  padding: 32px 24px;
  clear: fix;

  @media (max-width: 479px) {
    padding: 24px 12px;
  }
}
