<div class="main-wrapper">
  <div class="w-container">
    <h2>UI Button</h2>
    {{#ui-button color="border medium"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="border small"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="blue small"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="blue"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="purple"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="green"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="red"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="golden"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="gray"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="dark"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="border"}}<span>Test</span>{{/ui-button}}
  </div>
</div>