<div class="main-wrapper">
  <div class="w-container">
    <h2>UI Button</h2>
    {{#ui-button color="border medium"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="border small"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="blue small"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="blue"}}
      <i class="ic light ic-grid-2"></i>
      <span>Test</span>
    {{/ui-button}}
    {{#ui-button color="purple"}}
      <i class="ic light ic-plus-1"></i>
      <span>Test</span>
    {{/ui-button}}
    {{#ui-button color="green"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="red"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="golden"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="gray"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="dark"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="border"}}<span>Test</span>{{/ui-button}}
  </div>
  <div class="w-container">
    <h2>UI icon Button</h2>
      <div class="box-button"><i class="ic dark ic-grid-2"></i></div>
      <div class="box-button"><i class="ic dark ic-ipad-1"></i></div>
      <div class="box-button"><i class="ic-social dark ic-weibo"></i></div>
      <div class="box-button"><i class="ic-report dark ic-graph"></i></div>
      <div class="box-button"><i class="ic-report dark ic-gauge"></i></div>
      <div class="box-button"><i class="ic dark ic-trophy-1"></i></div>
      <div class="box-button purple"><i class="ic light ic-plus-1"></i></div>
      <div class="box-button blue"><i class="ic light ic-plus-1"></i></div>
      <div class="box-button dark"><i class="ic light ic-plus-1"></i></div>
      <div class="box-button border"><i class="ic dark ic-eye-4"></i></div>
  </div>
</div>