<div class="main-wrapper">
  <div class="w-container">
    <h2>UI Button</h2>
    {{#each model.button as |item|}}
      {{ui-button item.text size=item.size color=item.color icon=item.icon disabled=item.disabled expand=item.expand half=item.half}}
    {{/each}}

    <h2>UI icon Button</h2>
    {{#each model.iconButton as |item|}}
      {{ui-icon-button icon=item.icon size=item.size color=item.color}}
    {{/each}}
  </div>
</div>