<div class="icon-column">
	<ul class="icon-preview">
		<li><i class="ic dark ic-2dot"></i></li>
		<li><i class="ic dark ic-3dot"></i></li>
		<li><i class="ic dark ic-activity-1"></i></li>
		<li><i class="ic dark ic-activity-monitor-1"></i></li>
		<li><i class="ic dark ic-add-document-1"></i></li>
		<li><i class="ic dark ic-add-folder-1"></i></li>
		<li><i class="ic dark ic-add-user-1"></i></li>
		<li><i class="ic dark ic-add-window-1"></i></li>
		<li><i class="ic dark ic-aim-1"></i></li>
		<li><i class="ic dark ic-alarm-clock-1"></i></li>
		<li><i class="ic dark ic-align-bottom-1"></i></li>
		<li><i class="ic dark ic-align-center-1"></i></li>
		<li><i class="ic dark ic-align-horizontally-1"></i></li>
		<li><i class="ic dark ic-align-left-1"></i></li>
		<li><i class="ic dark ic-align-right-1"></i></li>
		<li><i class="ic dark ic-align-top-1"></i></li>
		<li><i class="ic dark ic-anchor-1"></i></li>
		<li><i class="ic dark ic-arrow-down-1"></i></li>
		<li><i class="ic dark ic-arrow-left-1"></i></li>
		<li><i class="ic dark ic-arrow-right-1"></i></li>
		<li><i class="ic dark ic-arrow-up-1"></i></li>
		<li><i class="ic dark ic-article-1"></i></li>
		<li><i class="ic dark ic-article-2"></i></li>
		<li><i class="ic dark ic-article-3"></i></li>
		<li><i class="ic dark ic-asterisk-1"></i></li>
		<li><i class="ic dark ic-basket-1"></i></li>
		<li><i class="ic dark ic-battery-charging-1"></i></li>
		<li><i class="ic dark ic-battery-charging-2"></i></li>
		<li><i class="ic dark ic-bell-1"></i></li>
		<li><i class="ic dark ic-book-1"></i></li>
		<li><i class="ic dark ic-book-2"></i></li>
		<li><i class="ic dark ic-book-6"></i></li>
		<li><i class="ic dark ic-bookmark-2"></i></li>
		<li><i class="ic dark ic-briefcase-1"></i></li>
		<li><i class="ic dark ic-browser-1"></i></li>
		<li><i class="ic dark ic-browser-3"></i></li>
		<li><i class="ic dark ic-brush-1"></i></li>
		<li><i class="ic dark ic-bucket-1"></i></li>
		<li><i class="ic dark ic-building-1"></i></li>
		<li><i class="ic dark ic-calculator-1"></i></li>
		<li><i class="ic dark ic-calendar-2"></i></li>
		<li><i class="ic dark ic-calendar-5"></i></li>
		<li><i class="ic dark ic-call-1"></i></li>
		<li><i class="ic dark ic-camera-1"></i></li>
		<li><i class="ic dark ic-cart-1"></i></li>
		<li><i class="ic dark ic-checkmark-1"></i></li>
		<li><i class="ic dark ic-checkmark-2"></i></li>
		<li><i class="ic dark ic-checkmark-3"></i></li>
		<li><i class="ic dark ic-cloud-1"></i></li>
		<li><i class="ic dark ic-cloud-add-1"></i></li>
		<li><i class="ic dark ic-cloud-download-1"></i></li>
		<li><i class="ic dark ic-cloud-upload-1"></i></li>
		<li><i class="ic dark ic-collection-1"></i></li>
		<li><i class="ic dark ic-command-1"></i></li>
		<li><i class="ic dark ic-compose-2"></i></li>
		<li><i class="ic dark ic-computer-1"></i></li>
		<li><i class="ic dark ic-credit-card-1"></i></li>
		<li><i class="ic dark ic-cube-1"></i></li>
		<li><i class="ic dark ic-document-1"></i></li>
		<li><i class="ic dark ic-document-2"></i></li>
		<li><i class="ic dark ic-document-3"></i></li>
		<li><i class="ic dark ic-down-1"></i></li>
		<li><i class="ic dark ic-down-2"></i></li>
		<li><i class="ic dark ic-down-3"></i></li>
		<li><i class="ic dark ic-down-4"></i></li>
		<li><i class="ic dark ic-down-square-3"></i></li>
		<li><i class="ic dark ic-download-1"></i></li>
		<li><i class="ic dark ic-download-to-folder-1"></i></li>
		<li><i class="ic dark ic-email-1"></i></li>
		<li><i class="ic dark ic-error-1"></i></li>
		<li><i class="ic dark ic-exclamation-point-1"></i></li>
		<li><i class="ic dark ic-expand-horizontally-1"></i></li>
		<li><i class="ic dark ic-expand-vertically-1"></i></li>
		<li><i class="ic dark ic-export-document-1"></i></li>
		<li><i class="ic dark ic-eye-4"></i></li>
		<li><i class="ic dark ic-fast-forward-3"></i></li>
		<li><i class="ic dark ic-film-strip-1"></i></li>
		<li><i class="ic dark ic-flag-1"></i></li>
		<li><i class="ic dark ic-folder-1"></i></li>
		<li><i class="ic dark ic-forward-1"></i></li>
		<li><i class="ic dark ic-gift-2"></i></li>
		<li><i class="ic dark ic-globe-1"></i></li>
		<li><i class="ic dark ic-graph-2"></i></li>
		<li><i class="ic dark ic-graph-3"></i></li>
		<li><i class="ic dark ic-grid-1"></i></li>
		<li><i class="ic dark ic-grid-2"></i></li>
		<li><i class="ic dark ic-grid-3"></i></li>
		<li><i class="ic dark ic-group-1"></i></li>
		<li><i class="ic dark ic-heart-1"></i></li>
		<li><i class="ic dark ic-history-1"></i></li>
		<li><i class="ic dark ic-home-2"></i></li>
		<li><i class="ic dark ic-imac-1"></i></li>
		<li><i class="ic dark ic-import-document-1"></i></li>
		<li><i class="ic dark ic-infinity"></i></li>
		<li><i class="ic dark ic-info-1"></i></li>
		<li><i class="ic dark ic-info-2"></i></li>
		<li><i class="ic dark ic-ipad-1"></i></li>
		<li><i class="ic dark ic-ipad-mini-1-tablet-2"></i></li>
		<li><i class="ic dark ic-iphone-1"></i></li>
		<li><i class="ic dark ic-layout-1"></i></li>
		<li><i class="ic dark ic-layout-2"></i></li>
		<li><i class="ic dark ic-layout-3"></i></li>
		<li><i class="ic dark ic-layout-4"></i></li>
		<li><i class="ic dark ic-left-1"></i></li>
		<li><i class="ic dark ic-left-2"></i></li>
		<li><i class="ic dark ic-left-3"></i></li>
		<li><i class="ic dark ic-left-4"></i></li>
		<li><i class="ic dark ic-left-angle-quote-1"></i></li>
		<li><i class="ic dark ic-lightbulb-3"></i></li>
		<li><i class="ic dark ic-link-3"></i></li>
		<li><i class="ic dark ic-link-4"></i></li>
		<li><i class="ic dark ic-location-arrow-1"></i></li>
		<li><i class="ic dark ic-location-pin-1"></i></li>
		<li><i class="ic dark ic-location-pin-6"></i></li>
		<li><i class="ic dark ic-lock-3"></i></li>
		<li><i class="ic dark ic-login-1"></i></li>
		<li><i class="ic dark ic-logout-1"></i></li>
		<li><i class="ic dark ic-logout-2"></i></li>
		<li><i class="ic dark ic-mail-2"></i></li>
		<li><i class="ic dark ic-marquee-1"></i></li>
		<li><i class="ic dark ic-marquee-2"></i></li>
		<li><i class="ic dark ic-marquee-plus-1"></i></li>
		<li><i class="ic dark ic-marquee-plus-2"></i></li>
		<li><i class="ic dark ic-maximize-1"></i></li>
		<li><i class="ic dark ic-maximize-2"></i></li>
		<li><i class="ic dark ic-maximize-3"></i></li>
		<li><i class="ic dark ic-maximize-4"></i></li>
		<li><i class="ic dark ic-media-gallery-1"></i></li>
		<li><i class="ic dark ic-megaphone-1"></i></li>
		<li><i class="ic dark ic-menu-2"></i></li>
		<li><i class="ic dark ic-minimize-1"></i></li>
		<li><i class="ic dark ic-minus-1"></i></li>
		<li><i class="ic dark ic-minus-2"></i></li>
		<li><i class="ic dark ic-multiple-browsers-1"></i></li>
		<li><i class="ic dark ic-multiple-documents-1"></i></li>
		<li><i class="ic dark ic-option-1"></i></li>
		<li><i class="ic dark ic-paperclip-1"></i></li>
		<li><i class="ic dark ic-pause-3"></i></li>
		<li><i class="ic dark ic-pencil-1"></i></li>
		<li><i class="ic dark ic-photo-1"></i></li>
		<li><i class="ic dark ic-photo-gallery-1"></i></li>
		<li><i class="ic dark ic-pin-1"></i></li>
		<li><i class="ic dark ic-play-3"></i></li>
		<li><i class="ic dark ic-play-4"></i></li>
		<li><i class="ic dark ic-plus-1"></i></li>
		<li><i class="ic dark ic-plus-2"></i></li>
		<li><i class="ic dark ic-plus-3"></i></li>
		<li><i class="ic dark ic-position-1"></i></li>
		<li><i class="ic dark ic-posted-comment"></i></li>
		<li><i class="ic dark ic-pound-1"></i></li>
		<li><i class="ic dark ic-print-1"></i></li>
		<li><i class="ic dark ic-question-mark-1"></i></li>
		<li><i class="ic dark ic-question-mark-2"></i></li>
		<li><i class="ic dark ic-refresh-1"></i></li>
		<li><i class="ic dark ic-remove-documents-1"></i></li>
		<li><i class="ic dark ic-remove-folder-1"></i></li>
		<li><i class="ic dark ic-repeat-1"></i></li>
		<li><i class="ic dark ic-reply-1"></i></li>
		<li><i class="ic dark ic-reply-to-all-1"></i></li>
		<li><i class="ic dark ic-right-1"></i></li>
		<li><i class="ic dark ic-right-2"></i></li>
		<li><i class="ic dark ic-right-3"></i></li>
		<li><i class="ic dark ic-right-4"></i></li>
		<li><i class="ic dark ic-right-angle-quote-1"></i></li>
		<li><i class="ic dark ic-right-square-1"></i></li>
		<li><i class="ic dark ic-see-all-1"></i></li>
		<li><i class="ic dark ic-server-1"></i></li>
		<li><i class="ic dark ic-settings-1"></i></li>
		<li><i class="ic dark ic-share-1"></i></li>
		<li><i class="ic dark ic-share-3"></i></li>
		<li><i class="ic dark ic-shuffle-1"></i></li>
		<li><i class="ic dark ic-slider-1"></i></li>
		<li><i class="ic dark ic-slider-2"></i></li>
		<li><i class="ic dark ic-slider-3"></i></li>
		<li><i class="ic dark ic-sort-document"></i></li>
		<li><i class="ic dark ic-sort-edit"></i></li>
		<li><i class="ic dark ic-sort-status"></i></li>
		<li><i class="ic dark ic-star-2"></i></li>
		<li><i class="ic dark ic-stop-2"></i></li>
		<li><i class="ic dark ic-stopwatch-1"></i></li>
		<li><i class="ic dark ic-suitcase-1"></i></li>
		<li><i class="ic dark ic-switch-window-1"></i></li>
		<li><i class="ic dark ic-tag-1"></i></li>
		<li><i class="ic dark ic-target-1"></i></li>
		<li><i class="ic dark ic-time-1"></i></li>
		<li><i class="ic dark ic-toolbox"></i></li>
		<li><i class="ic dark ic-trash-1"></i></li>
		<li><i class="ic dark ic-trash-2"></i></li>
		<li><i class="ic dark ic-trophy-1"></i></li>
		<li><i class="ic dark ic-type-1"></i></li>
		<li><i class="ic dark ic-up-1"></i></li>
		<li><i class="ic dark ic-up-2"></i></li>
		<li><i class="ic dark ic-up-3"></i></li>
		<li><i class="ic dark ic-up-4"></i></li>
		<li><i class="ic dark ic-upload-1"></i></li>
		<li><i class="ic dark ic-upload-2"></i></li>
		<li><i class="ic dark ic-upload-document-1"></i></li>
		<li><i class="ic dark ic-upload-to-folder-1"></i></li>
		<li><i class="ic dark ic-user-1"></i></li>
		<li><i class="ic dark ic-user-transfer"></i></li>
		<li><i class="ic dark ic-wallet-1"></i></li>
		<li><i class="ic dark ic-window-1"></i></li>
		<li><i class="ic dark ic-work-1"></i></li>
		<li><i class="ic dark ic-wrench-2"></i></li>
		<li><i class="ic dark ic-writing-comment-2"></i></li>
		<li><i class="ic dark ic-x-1"></i></li>
		<li><i class="ic dark ic-x-2"></i></li>
		<li><i class="ic dark ic-zoom-1"></i></li>
		<li><i class="ic dark ic-zoom-2"></i></li>
		<li><i class="ic dark ic-zoom-in-1"></i></li>
		<li><i class="ic half dark ic-down-half"></i></li>
	</ul>

	<ul class="icon-preview light">
		<li><i class="ic light ic-2dot"></i></li>
		<li><i class="ic light ic-3dot"></i></li>
		<li><i class="ic light ic-activity-1"></i></li>
		<li><i class="ic light ic-activity-monitor-1"></i></li>
		<li><i class="ic light ic-add-document-1"></i></li>
		<li><i class="ic light ic-add-folder-1"></i></li>
		<li><i class="ic light ic-add-user-1"></i></li>
		<li><i class="ic light ic-add-window-1"></i></li>
		<li><i class="ic light ic-aim-1"></i></li>
		<li><i class="ic light ic-alarm-clock-1"></i></li>
		<li><i class="ic light ic-align-bottom-1"></i></li>
		<li><i class="ic light ic-align-center-1"></i></li>
		<li><i class="ic light ic-align-horizontally-1"></i></li>
		<li><i class="ic light ic-align-left-1"></i></li>
		<li><i class="ic light ic-align-right-1"></i></li>
		<li><i class="ic light ic-align-top-1"></i></li>
		<li><i class="ic light ic-anchor-1"></i></li>
		<li><i class="ic light ic-arrow-down-1"></i></li>
		<li><i class="ic light ic-arrow-left-1"></i></li>
		<li><i class="ic light ic-arrow-right-1"></i></li>
		<li><i class="ic light ic-arrow-up-1"></i></li>
		<li><i class="ic light ic-article-1"></i></li>
		<li><i class="ic light ic-article-2"></i></li>
		<li><i class="ic light ic-article-3"></i></li>
		<li><i class="ic light ic-asterisk-1"></i></li>
		<li><i class="ic light ic-basket-1"></i></li>
		<li><i class="ic light ic-battery-charging-1"></i></li>
		<li><i class="ic light ic-battery-charging-2"></i></li>
		<li><i class="ic light ic-bell-1"></i></li>
		<li><i class="ic light ic-book-1"></i></li>
		<li><i class="ic light ic-book-2"></i></li>
		<li><i class="ic light ic-book-6"></i></li>
		<li><i class="ic light ic-bookmark-2"></i></li>
		<li><i class="ic light ic-briefcase-1"></i></li>
		<li><i class="ic light ic-browser-1"></i></li>
		<li><i class="ic light ic-browser-3"></i></li>
		<li><i class="ic light ic-brush-1"></i></li>
		<li><i class="ic light ic-bucket-1"></i></li>
		<li><i class="ic light ic-building-1"></i></li>
		<li><i class="ic light ic-calculator-1"></i></li>
		<li><i class="ic light ic-calendar-2"></i></li>
		<li><i class="ic light ic-calendar-5"></i></li>
		<li><i class="ic light ic-call-1"></i></li>
		<li><i class="ic light ic-camera-1"></i></li>
		<li><i class="ic light ic-cart-1"></i></li>
		<li><i class="ic light ic-checkmark-1"></i></li>
		<li><i class="ic light ic-checkmark-2"></i></li>
		<li><i class="ic light ic-checkmark-3"></i></li>
		<li><i class="ic light ic-cloud-1"></i></li>
		<li><i class="ic light ic-cloud-add-1"></i></li>
		<li><i class="ic light ic-cloud-download-1"></i></li>
		<li><i class="ic light ic-cloud-upload-1"></i></li>
		<li><i class="ic light ic-collection-1"></i></li>
		<li><i class="ic light ic-command-1"></i></li>
		<li><i class="ic light ic-compose-2"></i></li>
		<li><i class="ic light ic-computer-1"></i></li>
		<li><i class="ic light ic-credit-card-1"></i></li>
		<li><i class="ic light ic-cube-1"></i></li>
		<li><i class="ic light ic-document-1"></i></li>
		<li><i class="ic light ic-document-2"></i></li>
		<li><i class="ic light ic-document-3"></i></li>
		<li><i class="ic light ic-down-1"></i></li>
		<li><i class="ic light ic-down-2"></i></li>
		<li><i class="ic light ic-down-3"></i></li>
		<li><i class="ic light ic-down-4"></i></li>
		<li><i class="ic light ic-down-square-3"></i></li>
		<li><i class="ic light ic-download-1"></i></li>
		<li><i class="ic light ic-download-to-folder-1"></i></li>
		<li><i class="ic light ic-email-1"></i></li>
		<li><i class="ic light ic-error-1"></i></li>
		<li><i class="ic light ic-exclamation-point-1"></i></li>
		<li><i class="ic light ic-expand-horizontally-1"></i></li>
		<li><i class="ic light ic-expand-vertically-1"></i></li>
		<li><i class="ic light ic-export-document-1"></i></li>
		<li><i class="ic light ic-eye-4"></i></li>
		<li><i class="ic light ic-fast-forward-3"></i></li>
		<li><i class="ic light ic-film-strip-1"></i></li>
		<li><i class="ic light ic-flag-1"></i></li>
		<li><i class="ic light ic-folder-1"></i></li>
		<li><i class="ic light ic-forward-1"></i></li>
		<li><i class="ic light ic-gift-2"></i></li>
		<li><i class="ic light ic-globe-1"></i></li>
		<li><i class="ic light ic-graph-2"></i></li>
		<li><i class="ic light ic-graph-3"></i></li>
		<li><i class="ic light ic-grid-1"></i></li>
		<li><i class="ic light ic-grid-2"></i></li>
		<li><i class="ic light ic-grid-3"></i></li>
		<li><i class="ic light ic-group-1"></i></li>
		<li><i class="ic light ic-heart-1"></i></li>
		<li><i class="ic light ic-history-1"></i></li>
		<li><i class="ic light ic-home-2"></i></li>
		<li><i class="ic light ic-imac-1"></i></li>
		<li><i class="ic light ic-import-document-1"></i></li>
		<li><i class="ic light ic-infinity"></i></li>
		<li><i class="ic light ic-info-1"></i></li>
		<li><i class="ic light ic-info-2"></i></li>
		<li><i class="ic light ic-ipad-1"></i></li>
		<li><i class="ic light ic-ipad-mini-1-tablet-2"></i></li>
		<li><i class="ic light ic-iphone-1"></i></li>
		<li><i class="ic light ic-layout-1"></i></li>
		<li><i class="ic light ic-layout-2"></i></li>
		<li><i class="ic light ic-layout-3"></i></li>
		<li><i class="ic light ic-layout-4"></i></li>
		<li><i class="ic light ic-left-1"></i></li>
		<li><i class="ic light ic-left-2"></i></li>
		<li><i class="ic light ic-left-3"></i></li>
		<li><i class="ic light ic-left-4"></i></li>
		<li><i class="ic light ic-left-angle-quote-1"></i></li>
		<li><i class="ic light ic-lightbulb-3"></i></li>
		<li><i class="ic light ic-link-3"></i></li>
		<li><i class="ic light ic-link-4"></i></li>
		<li><i class="ic light ic-location-arrow-1"></i></li>
		<li><i class="ic light ic-location-pin-1"></i></li>
		<li><i class="ic light ic-location-pin-6"></i></li>
		<li><i class="ic light ic-lock-3"></i></li>
		<li><i class="ic light ic-login-1"></i></li>
		<li><i class="ic light ic-logout-1"></i></li>
		<li><i class="ic light ic-logout-2"></i></li>
		<li><i class="ic light ic-mail-2"></i></li>
		<li><i class="ic light ic-marquee-1"></i></li>
		<li><i class="ic light ic-marquee-2"></i></li>
		<li><i class="ic light ic-marquee-plus-1"></i></li>
		<li><i class="ic light ic-marquee-plus-2"></i></li>
		<li><i class="ic light ic-maximize-1"></i></li>
		<li><i class="ic light ic-maximize-2"></i></li>
		<li><i class="ic light ic-maximize-3"></i></li>
		<li><i class="ic light ic-maximize-4"></i></li>
		<li><i class="ic light ic-media-gallery-1"></i></li>
		<li><i class="ic light ic-megaphone-1"></i></li>
		<li><i class="ic light ic-menu-2"></i></li>
		<li><i class="ic light ic-minimize-1"></i></li>
		<li><i class="ic light ic-minus-1"></i></li>
		<li><i class="ic light ic-minus-2"></i></li>
		<li><i class="ic light ic-multiple-browsers-1"></i></li>
		<li><i class="ic light ic-multiple-documents-1"></i></li>
		<li><i class="ic light ic-option-1"></i></li>
		<li><i class="ic light ic-paperclip-1"></i></li>
		<li><i class="ic light ic-pause-3"></i></li>
		<li><i class="ic light ic-pencil-1"></i></li>
		<li><i class="ic light ic-photo-1"></i></li>
		<li><i class="ic light ic-photo-gallery-1"></i></li>
		<li><i class="ic light ic-pin-1"></i></li>
		<li><i class="ic light ic-play-3"></i></li>
		<li><i class="ic light ic-play-4"></i></li>
		<li><i class="ic light ic-plus-1"></i></li>
		<li><i class="ic light ic-plus-2"></i></li>
		<li><i class="ic light ic-plus-3"></i></li>
		<li><i class="ic light ic-position-1"></i></li>
		<li><i class="ic light ic-posted-comment"></i></li>
		<li><i class="ic light ic-pound-1"></i></li>
		<li><i class="ic light ic-print-1"></i></li>
		<li><i class="ic light ic-question-mark-1"></i></li>
		<li><i class="ic light ic-question-mark-2"></i></li>
		<li><i class="ic light ic-refresh-1"></i></li>
		<li><i class="ic light ic-remove-documents-1"></i></li>
		<li><i class="ic light ic-remove-folder-1"></i></li>
		<li><i class="ic light ic-repeat-1"></i></li>
		<li><i class="ic light ic-reply-1"></i></li>
		<li><i class="ic light ic-reply-to-all-1"></i></li>
		<li><i class="ic light ic-right-1"></i></li>
		<li><i class="ic light ic-right-2"></i></li>
		<li><i class="ic light ic-right-3"></i></li>
		<li><i class="ic light ic-right-4"></i></li>
		<li><i class="ic light ic-right-angle-quote-1"></i></li>
		<li><i class="ic light ic-right-square-1"></i></li>
		<li><i class="ic light ic-see-all-1"></i></li>
		<li><i class="ic light ic-server-1"></i></li>
		<li><i class="ic light ic-settings-1"></i></li>
		<li><i class="ic light ic-share-1"></i></li>
		<li><i class="ic light ic-share-3"></i></li>
		<li><i class="ic light ic-shuffle-1"></i></li>
		<li><i class="ic light ic-slider-1"></i></li>
		<li><i class="ic light ic-slider-2"></i></li>
		<li><i class="ic light ic-slider-3"></i></li>
		<li><i class="ic light ic-sort-document"></i></li>
		<li><i class="ic light ic-sort-edit"></i></li>
		<li><i class="ic light ic-sort-status"></i></li>
		<li><i class="ic light ic-star-2"></i></li>
		<li><i class="ic light ic-stop-2"></i></li>
		<li><i class="ic light ic-stopwatch-1"></i></li>
		<li><i class="ic light ic-suitcase-1"></i></li>
		<li><i class="ic light ic-switch-window-1"></i></li>
		<li><i class="ic light ic-tag-1"></i></li>
		<li><i class="ic light ic-target-1"></i></li>
		<li><i class="ic light ic-time-1"></i></li>
		<li><i class="ic light ic-toolbox"></i></li>
		<li><i class="ic light ic-trash-1"></i></li>
		<li><i class="ic light ic-trash-2"></i></li>
		<li><i class="ic light ic-trophy-1"></i></li>
		<li><i class="ic light ic-type-1"></i></li>
		<li><i class="ic light ic-up-1"></i></li>
		<li><i class="ic light ic-up-2"></i></li>
		<li><i class="ic light ic-up-3"></i></li>
		<li><i class="ic light ic-up-4"></i></li>
		<li><i class="ic light ic-upload-1"></i></li>
		<li><i class="ic light ic-upload-2"></i></li>
		<li><i class="ic light ic-upload-document-1"></i></li>
		<li><i class="ic light ic-upload-to-folder-1"></i></li>
		<li><i class="ic light ic-user-1"></i></li>
		<li><i class="ic light ic-user-transfer"></i></li>
		<li><i class="ic light ic-wallet-1"></i></li>
		<li><i class="ic light ic-window-1"></i></li>
		<li><i class="ic light ic-work-1"></i></li>
		<li><i class="ic light ic-wrench-2"></i></li>
		<li><i class="ic light ic-writing-comment-2"></i></li>
		<li><i class="ic light ic-x-1"></i></li>
		<li><i class="ic light ic-x-2"></i></li>
		<li><i class="ic light ic-zoom-1"></i></li>
		<li><i class="ic light ic-zoom-2"></i></li>
		<li><i class="ic light ic-zoom-in-1"></i></li>
		<li><i class="ic half light ic-down-half"></i></li>
	</ul>
</div>
