:global(.nav.secondary) {
  @media (max-width: 991px) {
    height: 70px;
  }

  @media (max-width: 767px) {
    height: 120px;
  }

  @media (max-width: 479px) {
    height: 160px;
  }
}

article {
  margin: 0 auto;
  text-align: justify;

  & > p {
    margin-bottom: 2em;
  }
}
