<ul class="icon-preview">
  <li>
		<div class="ic-payment credit-amex"></div>
  </li>
	<li>
		<div class="ic-payment credit-master"></div>
  </li>
	<li>
		<div class="ic-payment credit-paypal"></div>
  </li>
	<li>
		<div class="ic-payment credit-unionpay"></div>
  </li>
	<li>
		<div class="ic-payment credit-visa"></div>
  </li>
	<li>
		<div class="ic-payment logo-alipay"></div>
  </li>
	<li>
		<div class="ic-payment logo-paypal"></div>
  </li>
	<li>
		<div class="ic-payment logo-wechat"></div>
  </li>
</ul>

<ul class="icon-preview">
	<li>
		<div class="ic-payment half credit-amex"></div>
	</li>
	<li>
		<div class="ic-payment half credit-master"></div>
	</li>
	<li>
		<div class="ic-payment half credit-paypal"></div>
	</li>
	<li>
		<div class="ic-payment half credit-unionpay"></div>
	</li>
	<li>
		<div class="ic-payment half credit-visa"></div>
	</li>
	<li>
		<div class="ic-payment half logo-alipay"></div>
	</li>
	<li>
		<div class="ic-payment half logo-paypal"></div>
	</li>
	<li>
		<div class="ic-payment half logo-wechat"></div>
	</li>
</ul>

<ul class="icon-preview">
  <li>
		<div class="ic-payment-card alipay"></div>
  </li>
	<li>
		<div class="ic-payment-card wechat"></div>
	</li>
	<li>
		<div class="ic-payment-card paypal"></div>
	</li>
	<li>
		<div class="ic-payment-card credit"></div>
	</li>
	<li>
		<div class="ic-payment-card bank"></div>
	</li>
</ul>
