{{#ui-popup
  isShow=isShow
  size='m'
  title='test'
  cancelText='cancel'
  confirmText='confirm'
  color='red'
  closePopup=(action "closePopup")
  onClick=(action "onClick")
}}
  <p>test popup</p>
{{/ui-popup}}
