@import "./extend.css";
@value ui-silver, ui-purple, ui-tomato from 'ui-colors';

.field {
  @extend %row;
}

.group {
  @extend %column;

  &.middle {
    width: 55%;
  }

  &.middle + .help {
    flex-basis: 39%;
  }
}

/* Radio Button, Checkbox */
.ui-radio,
.ui-checkbox {
  & svg {
    position: absolute 0 auto auto 0;
    width: 20px;
    height: 20px;
  }

  & path {
    fill: ui-silver;
  }

  & label {
    height: 20px;
    padding-left: 32px;
    cursor: pointer;
    user-select: none;
  }
}

.ui-radio.checked,
.ui-checkbox.checked {
  & path {
    fill: ui-purple;
  }
}

:global(input[type=radio].ember-radio),
:global(input[type=checkbox].ember-checkbox) {
  position: absolute;
  /* left: fallback(-100vw, -100%); */
  clip: rect(0, 0, 0, 0);
  clip-path: inset(0 0 0 0);
}

/* Help */
.help {
  margin-left: 3%;
  padding: 3px 0 3px 3%;
  border-left: 1px solid ui-silver;
  color: ui-silver;
  font-size: 12px;
  line-height: normal;
}

/* Alert */
.alert {
  display: block;
  clear: left;
  float: left;
  margin-top: 1em;
  padding: 0 8px;
  color: ui-tomato;
  background-color: color(ui-tomato a(20%));
  border-radius: 2px;
  font-size: 12px;
}
