@value ui-white, ui-purple, ui-blue, ui-green, ui-tomato, ui-light, ui-fade-silver, ui-silver, ui-gray, ui-slate, ui-dark-slate from 'ui-colors';

:global(.box-button) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  & i {
    margin: 8px;
    opacity: .6;
    transition: opacity 200ms ease;
  }
  &:hover {
    & i {
      opacity: 1;
    }
  }
  &:global(.purple) {
    border-radius: 3px;
    background-color: ui-purple;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-purple blackness(-24%));
    }
  }
  &:global(.blue) {
    border-radius: 3px;
    background-color: ui-blue;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-blue blackness(+12%));
    }
  }
  &:global(.border) {
    border-radius: 3px;
    border: 1px solid ui-silver;
    transition: border 200ms ease;
    &:hover {
      border: 1px solid ui-slate;
    }
  }
  &:global(.dark) {
    border-radius: 3px;
    background-color: ui-slate;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-slate blackness(-12%));
    }
  }

  &:global(.purple),
  &:global(.blue),
  &:global(.dark) {
    & i {
      opacity: 1;
      margin: 2px;
    }
  }
}
