@value ui-white, ui-silver from 'ui-colors';
@value spacing-xs, spacing-s, spacing-m, spacing-l, spacing-xl from 'ui-spacing';
@value radius-s, radius-m, radius-l from 'ui-radius';

:global(.main-wrapper) {
  min-height: 100%;
  margin-bottom: -62px;
  padding: 129px 0 122px 0;
}

:global(.content-wrapper) {
  position: relative;
  clear: fix;
  @media (max-width: 991px) {
    padding: 0 6.5%;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

:global(.w-container) {
  position: relative;
  clear: fix;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    min-width: 1170px;
  }
  @media (max-width: 991px) {
    width: 728px;
    max-width: 728px;
  }
  @media (max-width: 767px) {
    width: auto;
    max-width: 728px;
    padding: 0 24px;
  }
  @media (max-width: 479px) {
    min-width: 360px;
    max-width: none;
    padding: 0 spacing-m;
  }
}

:global(.content-wrap) {
  position: relative;
  clear: fix;
  border: 1px solid ui-silver;
  border-radius: radius-s;
  background-color: ui-white;
}

:global(.content-row) {
  clear: fix;
  padding: 32px spacing-l;
  @media (max-width: 479px) {
    padding: spacing-l spacing-m;
  }
}

:global(.content-row.column) {
  float: left;
  width: 70%;
  @media (max-width: 991px) {
    width: 100% !important;
  }
}

:global(.content-wrap .content-row) {
  border-bottom: 1px solid ui-silver;
  &:last-child {
    border: none;
  }
}

:global(.content-row .row-title) {
  position: relative;
  clear: fix;
  margin-bottom: 16px;
  @media (max-width: 767px) {
    text-align: center;
  }
  & > h2 {
    display: inline-block;
    vertical-align: bottom;
    @media (max-width: 767px) {
      display: block;
    }
  }
  & > button {
    float: right;
    margin-left: spacing-m;
    @media (max-width: 767px) {
      display: inline-block;
      float: none;
      margin: spacing-m 0;
    }
  }
}
