@value ui-white, ui-purple, ui-blue, ui-green, ui-tomato, ui-light, ui-fade-silver, ui-silver, ui-gray, ui-slate, ui-dark-slate from 'ui-colors';

:global(.ember-basic-dropdown) {
  display: inline-block;
}

:global(.ember-basic-dropdown-content) {
  border: none;
  background: none;
}

:global(.ember-basic-dropdown-trigger) {
  display: inline-block;
  vertical-align: bottom;
  outline: none;
}

:global(.ember-basic-dropdown-trigger.block) {
  display: block;
  & button {
    width: 100%;
    text-align: left;
  }
  & :global(.expand) {
    float: right;
    height: 20px;
  }
}

:global(.option) {
  margin-top: -1px;
  border-radius: 2px;
  border: 1px solid ui-silver;
  background-color: ui-white;
  overflow: hidden;
  z-index: 10;
  box-shadow: color(black a(30%)) 0 3px 8px 0;
  & li {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid ui-fade-silver;
    cursor: pointer;
    &:last-of-type {
      border: none;
    }
    &:hover {
      background-color: ui-light;
      & svg {
        fill: ui-slate;
      }
    }
    & div {
      display: inline-block;
      vertical-align: bottom;
    }
    & a {
      display: block;
      padding: 8px 12px;
      color: ui-slate;
    }
    & svg {
      transition: fill 200ms ease;
      display: inline-block;
      vertical-align: sub;
      margin-right: 8px;
      fill: color(ui-slate a(48%));
    }
    & span {
      display: inline-block;
      vertical-align: bottom;
      line-height: 20px;
    }
  }
  & :global(.ui-fieldset) {
    padding: 0 12px;
  }
  &:global(.checkmark) {
    & a {
      padding-right: 32px;
    }
  }
  & :global(svg.checkmark) {
    position: absolute 0 8px 0 auto;
    margin: auto 0;
    fill: ui-slate;
    & ~ svg {
      fill: ui-slate;
    }
  }
}

:global(.optgroup) {
  display: block;
  padding: 2px 12px;
  font-size: 12px;
  text-align: left;
  color: ui-gray;
  border-bottom: 1px solid ui-fade-silver;
  cursor: default;
  &:hover {
    background: none;
  }
}

:global(.option-contents) {
  max-height: 480px;
  overflow: auto;
}

:global(.option-control) {
  border-top: 1px solid ui-silver;
  background-color: ui-light;
  & li {
    font-size: 12px;
  }
}

:global(.option-blank) {
  display: flex;
  padding: 12px;
  justify-content: center;
  & svg {
    fill: ui-fade-silver;
  }
}
