<div class="icon-column">
	<ul class="icon-preview">
		<li><i class="ic-report dark ic-area"></i></li>
		<li><i class="ic-report dark ic-article"></i></li>
		<li><i class="ic-report dark ic-bar"></i></li>
		<li><i class="ic-report dark ic-bookmark"></i></li>
		<li><i class="ic-report dark ic-browser"></i></li>
		<li><i class="ic-report dark ic-bubble"></i></li>
		<li><i class="ic-report dark ic-camera"></i></li>
		<li><i class="ic-report dark ic-checkmark"></i></li>
		<li><i class="ic-report dark ic-fill"></i></li>
		<li><i class="ic-report dark ic-computer"></i></li>
		<li><i class="ic-report dark ic-crosshairs"></i></li>
		<li><i class="ic-report dark ic-curve"></i></li>
		<li><i class="ic-report dark ic-dashboard"></i></li>
		<li><i class="ic-report dark ic-document"></i></li>
		<li><i class="ic-report dark ic-email"></i></li>
		<li><i class="ic-report dark ic-files"></i></li>
		<li><i class="ic-report dark ic-flag"></i></li>
		<li><i class="ic-report dark ic-folder"></i></li>
		<li><i class="ic-report dark ic-gauge"></i></li>
		<li><i class="ic-report dark ic-gift"></i></li>
		<li><i class="ic-report dark ic-graph"></i></li>
		<li><i class="ic-report dark ic-grid"></i></li>
		<li><i class="ic-report dark ic-histogram"></i></li>
		<li><i class="ic-report dark ic-info"></i></li>
		<li><i class="ic-report dark ic-layout"></i></li>
		<li><i class="ic-report dark ic-link"></i></li>
		<li><i class="ic-report dark ic-location"></i></li>
		<li><i class="ic-report dark ic-location-pin"></i></li>
		<li><i class="ic-report dark ic-magic"></i></li>
		<li><i class="ic-report dark ic-marquee"></i></li>
		<li><i class="ic-report dark ic-matrix"></i></li>
		<li><i class="ic-report dark ic-mixed"></i></li>
		<li><i class="ic-report dark ic-network"></i></li>
		<li><i class="ic-report dark ic-photo"></i></li>
		<li><i class="ic-report dark ic-pie"></i></li>
		<li><i class="ic-report dark ic-play"></i></li>
		<li><i class="ic-report dark ic-radio"></i></li>
		<li><i class="ic-report dark ic-repeat"></i></li>
		<li><i class="ic-report dark ic-scatter"></i></li>
		<li><i class="ic-report dark ic-slider"></i></li>
		<li><i class="ic-report dark ic-slider-2"></i></li>
		<li><i class="ic-report dark ic-tag"></i></li>
		<li><i class="ic-report dark ic-target"></i></li>
		<li><i class="ic-report dark ic-user"></i></li>
		<li><i class="ic-report dark ic-zoom"></i></li>
	</ul>

	<ul class="icon-preview light">
		<li><i class="ic-report light ic-area"></i></li>
		<li><i class="ic-report light ic-article"></i></li>
		<li><i class="ic-report light ic-bar"></i></li>
		<li><i class="ic-report light ic-bookmark"></i></li>
		<li><i class="ic-report light ic-browser"></i></li>
		<li><i class="ic-report light ic-bubble"></i></li>
		<li><i class="ic-report light ic-camera"></i></li>
		<li><i class="ic-report light ic-checkmark"></i></li>
		<li><i class="ic-report light ic-fill"></i></li>
		<li><i class="ic-report light ic-computer"></i></li>
		<li><i class="ic-report light ic-crosshairs"></i></li>
		<li><i class="ic-report light ic-curve"></i></li>
		<li><i class="ic-report light ic-dashboard"></i></li>
		<li><i class="ic-report light ic-document"></i></li>
		<li><i class="ic-report light ic-email"></i></li>
		<li><i class="ic-report light ic-files"></i></li>
		<li><i class="ic-report light ic-flag"></i></li>
		<li><i class="ic-report light ic-folder"></i></li>
		<li><i class="ic-report light ic-gauge"></i></li>
		<li><i class="ic-report light ic-gift"></i></li>
		<li><i class="ic-report light ic-graph"></i></li>
		<li><i class="ic-report light ic-grid"></i></li>
		<li><i class="ic-report light ic-histogram"></i></li>
		<li><i class="ic-report light ic-info"></i></li>
		<li><i class="ic-report light ic-layout"></i></li>
		<li><i class="ic-report light ic-link"></i></li>
		<li><i class="ic-report light ic-location"></i></li>
		<li><i class="ic-report light ic-location-pin"></i></li>
		<li><i class="ic-report light ic-magic"></i></li>
		<li><i class="ic-report light ic-marquee"></i></li>
		<li><i class="ic-report light ic-matrix"></i></li>
		<li><i class="ic-report light ic-mixed"></i></li>
		<li><i class="ic-report light ic-network"></i></li>
		<li><i class="ic-report light ic-photo"></i></li>
		<li><i class="ic-report light ic-pie"></i></li>
		<li><i class="ic-report light ic-play"></i></li>
		<li><i class="ic-report light ic-radio"></i></li>
		<li><i class="ic-report light ic-repeat"></i></li>
		<li><i class="ic-report light ic-scatter"></i></li>
		<li><i class="ic-report light ic-slider"></i></li>
		<li><i class="ic-report light ic-slider-2"></i></li>
		<li><i class="ic-report light ic-tag"></i></li>
		<li><i class="ic-report light ic-target"></i></li>
		<li><i class="ic-report light ic-user"></i></li>
		<li><i class="ic-report light ic-zoom"></i></li>
	</ul>
</div>
<br>
<div class="icon-column">
	<ul class="icon-preview">
		<li><i class="ic-report dark half ic-area-half"></i></li>
		<li><i class="ic-report dark half ic-article-half"></i></li>
		<li><i class="ic-report dark half ic-bar-half"></i></li>
		<li><i class="ic-report dark half ic-bookmark-half"></i></li>
		<li><i class="ic-report dark half ic-browser-half"></i></li>
		<li><i class="ic-report dark half ic-bubble-half"></i></li>
		<li><i class="ic-report dark half ic-camera-half"></i></li>
		<li><i class="ic-report dark half ic-checkmark-half"></i></li>
		<li><i class="ic-report dark half ic-fill-half"></i></li>
		<li><i class="ic-report dark half ic-computer-half"></i></li>
		<li><i class="ic-report dark half ic-crosshairs-half"></i></li>
		<li><i class="ic-report dark half ic-curve-half"></i></li>
		<li><i class="ic-report dark half ic-dashboard-half"></i></li>
		<li><i class="ic-report dark half ic-document-half"></i></li>
		<li><i class="ic-report dark half ic-email-half"></i></li>
		<li><i class="ic-report dark half ic-files-half"></i></li>
		<li><i class="ic-report dark half ic-flag-half"></i></li>
		<li><i class="ic-report dark half ic-folder-half"></i></li>
		<li><i class="ic-report dark half ic-gauge-half"></i></li>
		<li><i class="ic-report dark half ic-gift-half"></i></li>
		<li><i class="ic-report dark half ic-graph-half"></i></li>
		<li><i class="ic-report dark half ic-grid-half"></i></li>
		<li><i class="ic-report dark half ic-histogram-half"></i></li>
		<li><i class="ic-report dark half ic-info-half"></i></li>
		<li><i class="ic-report dark half ic-layout-half"></i></li>
		<li><i class="ic-report dark half ic-link-half"></i></li>
		<li><i class="ic-report dark half ic-location-half"></i></li>
		<li><i class="ic-report dark half ic-location-pin-half"></i></li>
		<li><i class="ic-report dark half ic-magic-half"></i></li>
		<li><i class="ic-report dark half ic-marquee-half"></i></li>
		<li><i class="ic-report dark half ic-matrix-half"></i></li>
		<li><i class="ic-report dark half ic-mixed-half"></i></li>
		<li><i class="ic-report dark half ic-network-half"></i></li>
		<li><i class="ic-report dark half ic-photo-half"></i></li>
		<li><i class="ic-report dark half ic-pie-half"></i></li>
		<li><i class="ic-report dark half ic-play-half"></i></li>
		<li><i class="ic-report dark half ic-radio-half"></i></li>
		<li><i class="ic-report dark half ic-repeat-half"></i></li>
		<li><i class="ic-report dark half ic-scatter-half"></i></li>
		<li><i class="ic-report dark half ic-slider-half"></i></li>
		<li><i class="ic-report dark half ic-slider-2-half"></i></li>
		<li><i class="ic-report dark half ic-tag-half"></i></li>
		<li><i class="ic-report dark half ic-target-half"></i></li>
		<li><i class="ic-report dark half ic-user-half"></i></li>
		<li><i class="ic-report dark half ic-zoom-half"></i></li>
	</ul>

	<ul class="icon-preview light">
		<li><i class="ic-report light half ic-area-half"></i></li>
		<li><i class="ic-report light half ic-article-half"></i></li>
		<li><i class="ic-report light half ic-bar-half"></i></li>
		<li><i class="ic-report light half ic-bookmark-half"></i></li>
		<li><i class="ic-report light half ic-browser-half"></i></li>
		<li><i class="ic-report light half ic-bubble-half"></i></li>
		<li><i class="ic-report light half ic-camera-half"></i></li>
		<li><i class="ic-report light half ic-checkmark-half"></i></li>
		<li><i class="ic-report light half ic-fill-half"></i></li>
		<li><i class="ic-report light half ic-computer-half"></i></li>
		<li><i class="ic-report light half ic-crosshairs-half"></i></li>
		<li><i class="ic-report light half ic-curve-half"></i></li>
		<li><i class="ic-report light half ic-dashboard-half"></i></li>
		<li><i class="ic-report light half ic-document-half"></i></li>
		<li><i class="ic-report light half ic-email-half"></i></li>
		<li><i class="ic-report light half ic-files-half"></i></li>
		<li><i class="ic-report light half ic-flag-half"></i></li>
		<li><i class="ic-report light half ic-folder-half"></i></li>
		<li><i class="ic-report light half ic-gauge-half"></i></li>
		<li><i class="ic-report light half ic-gift-half"></i></li>
		<li><i class="ic-report light half ic-graph-half"></i></li>
		<li><i class="ic-report light half ic-grid-half"></i></li>
		<li><i class="ic-report light half ic-histogram-half"></i></li>
		<li><i class="ic-report light half ic-info-half"></i></li>
		<li><i class="ic-report light half ic-layout-half"></i></li>
		<li><i class="ic-report light half ic-link-half"></i></li>
		<li><i class="ic-report light half ic-location-half"></i></li>
		<li><i class="ic-report light half ic-location-pin-half"></i></li>
		<li><i class="ic-report light half ic-magic-half"></i></li>
		<li><i class="ic-report light half ic-marquee-half"></i></li>
		<li><i class="ic-report light half ic-matrix-half"></i></li>
		<li><i class="ic-report light half ic-mixed-half"></i></li>
		<li><i class="ic-report light half ic-network-half"></i></li>
		<li><i class="ic-report light half ic-photo-half"></i></li>
		<li><i class="ic-report light half ic-pie-half"></i></li>
		<li><i class="ic-report light half ic-play-half"></i></li>
		<li><i class="ic-report light half ic-radio-half"></i></li>
		<li><i class="ic-report light half ic-repeat-half"></i></li>
		<li><i class="ic-report light half ic-scatter-half"></i></li>
		<li><i class="ic-report light half ic-slider-half"></i></li>
		<li><i class="ic-report light half ic-slider-2-half"></i></li>
		<li><i class="ic-report light half ic-tag-half"></i></li>
		<li><i class="ic-report light half ic-target-half"></i></li>
		<li><i class="ic-report light half ic-user-half"></i></li>
		<li><i class="ic-report light half ic-zoom-half"></i></li>
	</ul>
</div>
