@value ui-white, ui-purple, ui-blue, ui-green, ui-tomato, ui-golden, ui-light, ui-fade-silver, ui-silver, ui-gray, ui-slate, ui-dark-slate from 'ui-colors';

:global(button) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  outline: 0;
  user-select: none;
  outline-style: none;
  background-color: transparent;
  line-height: 20px;
  &:hover {
    outline: 0;
    & :global(svg.expand) {
      opacity: 1;
    }
  }
  &:active {
    border: none;
    outline: none;
  }
  &:focus {
    outline: 0;
  }
  &:disabled {
    cursor: not-allowed;
    color: ui-white !important;
    background-color: ui-silver !important;
  }
  & svg {
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    & + span {
      margin-left: 4px;
    }
  }
  &:global(.m) {
    padding: 4px 12px;
  }
  &:global(.s) {
    padding: 2px 12px;
  }
  &:global(.white) {
    color: ui-slate;
  }
  &:global(.blue) {
    color: ui-white;
    background-color: ui-blue;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-blue blackness(+12%));
    }
  }
  &:global(.purple) {
    color: ui-white;
    background-color: ui-purple;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-purple blackness(-24%));
    }
  }
  &:global(.green) {
    color: ui-white;
    background-color: ui-green;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-green lightness(-6%));
    }
  }
  &:global(.red) {
    color: ui-white;
    background-color: ui-tomato;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-tomato lightness(-12%));
    }
  }
  &:global(.golden) {
    color: ui-white;
    background-color: ui-golden;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-golden lightness(-6%));
    }
  }
  &:global(.gray) {
    color: ui-gray;
    background-color: ui-fade-silver;
    transition: background-color 200ms ease, color 200ms ease;
    &:hover {
      color: ui-slate;
      background-color: ui-silver;
    }
  }
  &:global(.dark) {
    color: ui-white;
    background-color: ui-slate;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-slate blackness(-12%));
    }
  }
  &:global(.border) {
    color: ui-slate;
    box-shadow: inset ui-silver 0 0 0 1px;
    transition: box-shadow 200ms ease, color 200ms ease;
    &:hover {
      color: ui-dark-slate;
      box-shadow: inset ui-slate 0 0 0 1px;
    }
  }
  &:global(.blank) {
    color: color(ui-slate a(60%));
    transition: color 200ms ease;
    & :global(svg.expand) {
      fill: ui-slate;
    }
    &:hover {
      color: ui-slate;
    }
  }
  &:global(.transparent) {
    color: ui-gray;
    padding-left: 0;
    transition: color 200ms ease;
    &:hover {
      color: ui-slate;
    }
  }
  & :global(svg.expand) {
    margin-left: 6px;
  }
  & :global(svg.expand),
  & :global(svg.half-expand) {
    opacity: .6;
    transition: opacity 200ms ease;
  }
}
