@value ui-white, ui-purple, ui-blue, ui-green, ui-tomato, ui-golden, ui-light, ui-fade-silver, ui-silver, ui-gray, ui-slate, ui-dark-slate from 'ui-colors';

:global(button) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  outline: 0;
  user-select: none;
  outline-style: none;
  background-color: transparent;
  line-height: 20px;
  &:hover {
    outline: 0;
  }
  &:active {
    border: none;
    outline: none;
  }
  &:focus {
    outline: 0;
  }
  &:disabled {
    cursor: not-allowed;
    color: ui-white;
    background-color: ui-silver;
  }
  & i {

  }
  & span {
    line-height: 20px;
    display: inline-block;
  }
  &:global(.medium) {
    padding: 4px 12px;
  }
  &:global(.small) {
    padding: 2px 12px;
  }
  &:global(.white) {
    background-color: ui-white;
  }
  &:global(.blue) {
    color: ui-white;
    background-color: ui-blue;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-blue blackness(+12%));
    }
  }
  &:global(.purple) {
    color: ui-white;
    background-color: ui-purple;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-purple blackness(-24%));
    }
  }
  &:global(.green) {
    color: ui-white;
    background-color: ui-green;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-green lightness(-6%));
    }
  }
  &:global(.red) {
    color: ui-white;
    background-color: ui-tomato;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-tomato lightness(-12%));
    }
  }
  &:global(.golden) {
    color: ui-white;
    background-color: ui-golden;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-golden lightness(-6%));
    }
  }
  &:global(.gray) {
    color: ui-gray;
    background-color: ui-fade-silver;
    transition: background-color 200ms ease, color 200ms ease;
    &:hover {
      color: ui-slate;
      background-color: ui-silver;
    }
  }
  &:global(.dark) {
    color: ui-white;
    background-color: ui-slate;
    transition: background-color 200ms ease;
    &:hover {
      background-color: color(ui-slate blackness(-12%));
    }
  }
  &:global(.border) {
    color: ui-gray;
    box-shadow: inset ui-silver 0 0 0 1px;
    transition: box-shadow 200ms ease, color 200ms ease;
    &:hover {
      color: ui-dark-slate;
      box-shadow: inset ui-slate 0 0 0 1px;
    }
  }
}

:global(button.expand-more) {
  padding-right: 33px;
  &:before {
    content: "";
    width: 32px;
    height: 36px;
    position: absolute 0 0 0 auto;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .6;
    transition: opacity 200ms ease;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

:global(button.expand-more.ic-dark) {
  &:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjMzQ0OTVlIiBkPSJNMTQuOSA4LjVjLjItLjIuMi0uNSAwLS43bC0uNy0uN2MtLjItLjItLjUtLjItLjcgMGwtMy41IDMuNC0zLjQtMy40Yy0uMi0uMS0uNS0uMS0uNyAwbC0uOC43Yy0uMS4yLS4xLjUgMCAuN2w0LjUgNC4zYy4yLjIuNS4yLjcgMGw0LjYtNC4zeiIvPjwvc3ZnPg==);
  }
}

:global(button.expand-more.ic-light) {
  &:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTQuOSA4LjVjLjItLjIuMi0uNSAwLS43bC0uNy0uN2MtLjItLjItLjUtLjItLjcgMGwtMy41IDMuNC0zLjQtMy40Yy0uMi0uMS0uNS0uMS0uNyAwbC0uOC43Yy0uMS4yLS4xLjUgMCAuN2w0LjUgNC4zYy4yLjIuNS4yLjcgMGw0LjYtNC4zeiIvPjwvc3ZnPg==);
  }
}
