<div class="main-wrapper">
	<div class="w-container">
    {{partial "form/ui-input"}}

    {{partial "form/ui-checkbox"}}

    {{partial "form/ui-radio"}}

    {{partial "form/ui-spinner"}}
	</div>
</div>
