@value ui-notify from 'ui-zindex';
@value ui-blue, ui-green, ui-golden, ui-tomato, ui-slate from 'ui-colors';

.container {
  z-index: ui-notify;
  position: fixed auto 0;
  margin: 0 auto;
}

.top {
  top: 10px;
}

.instance {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  color: white;
  animation-fill-mode: forwards;
  animation: notification-hide .25s cubic-bezier(.33859, -.42, 1, -.22), notification-shrink .25s .25s cubic-bezier(.5, 0, 0, 1);

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.in {
    animation: notification-show .2s cubic-bezier(.175, .885, .32, 1.27499);
  }

  &.info {
    background-color: ui-blue;
  }

  &.success {
    background-color: ui-green;
  }

  &.warning {
    background-color: ui-golden;
  }

  &.error {
    background-color: ui-tomato;
  }

  & > .close {
    cursor: pointer;
    position: absolute 9px 10px auto auto;
    font-weight: bold;
  }

  & > .countdown {
    position: absolute auto auto 0 0;
    width: 100%;
    height: 3px;
    opacity: .8;
    background-color: currentColor;
    animation: notification-countdown 1s linear;
  }
}

@keyframes notification-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}

@keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: 40px;
    transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    transform: scale(.8);
  }
}

@keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@keyframes notification-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
