<div class="icon-column">
	<ul class="icon-preview">
		<li><i class="ic-add-48 dark ic-building"></i></li>
		<li><i class="ic-add-48 dark ic-close"></i></li>
		<li><i class="ic-add-48 dark ic-dashboard"></i></li>
		<li><i class="ic-add-48 dark ic-help"></i></li>
		<li><i class="ic-add-48 dark ic-notifications"></i></li>
		<li><i class="ic-add-48 dark ic-notifications-none"></i></li>
		<li><i class="ic-add-48 dark ic-public"></i></li>
		<li><i class="ic-add-48 dark ic-reports"></i></li>
		<li><i class="ic-add-48 dark ic-transfer"></i></li>
	</ul>

	<ul class="icon-preview light">
		<li><i class="ic-add-48 light ic-building"></i></li>
		<li><i class="ic-add-48 light ic-close"></i></li>
		<li><i class="ic-add-48 light ic-dashboard"></i></li>
		<li><i class="ic-add-48 light ic-help"></i></li>
		<li><i class="ic-add-48 light ic-notifications"></i></li>
		<li><i class="ic-add-48 light ic-notifications-none"></i></li>
		<li><i class="ic-add-48 light ic-public"></i></li>
		<li><i class="ic-add-48 light ic-reports"></i></li>
		<li><i class="ic-add-48 light ic-transfer"></i></li>
	</ul>
</div>
