@value ui-menu from 'ui-zindex';
@value spacing-xs, spacing-s, spacing-m, spacing-l, spacing-xl from 'ui-spacing';
@value ui-white, ui-blue, ui-purple, ui-silver, ui-gray, ui-slate, ui-dark-slate from 'ui-colors';

:global(.ui-navigation) {
  position: fixed 0 0 auto;
  z-index: ui-menu;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .5s ease;
  &:global(.sticky) {
    transform: translateY(-100%);
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}

:global(.ui-navigation) > nav {
  clear: fix;
  position: relative;
  &:global(.primary) {
    user-select: none;
    & > div {
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &:global(.secondary) {
    padding: 16px 0;
    background-color: ui-white;
    border-bottom: 1px solid ui-silver;
    @media (max-width: 767px) {
      text-align: center;
    }
    & > div {
      & > button {
        float: right;
        margin-left: spacing-m;
        @media (max-width: 767px) {
          float: none;
          margin: spacing-m 0 0 0;
        }
      }
      & > h1 {
        display: inline-block;
        vertical-align: bottom;
        @media (max-width: 767px) {
          display: block;
        }
      }
    }
  }
}

:global(.ui-navigation.purple) > nav {
  &:global(.primary) {
    background-color: ui-purple;
  }
}

:global(.ui-navigation.dark) > nav {
  &:global(.primary) {
    background-color: ui-dark-slate;
  }
}

:global(.ui-navigation.light) > nav {
  &:global(.primary) {
    & :global(.logo) {
      fill: ui-purple;
    }
    &:global(.menu li) {
      & > a {
        color: ui-slate;
      }
    }
  }
}

:global(.header-control) {
  display: inline-block;
  vertical-align: bottom;
}

:global(.logo) {
  padding: 20px 0;
  margin-right: 64px;
  fill: ui-white;
  color: ui-white;
  display: inline-block;
  vertical-align: bottom;
  z-index: calc(ui-menu +1);
  & svg {
    pointer-events: none;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
  }
  & span {
    position: relative;
    top: 2px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: spacing-m;
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
  @media (max-width: 991px) {
    margin-right: 36px;
  }
  @media (max-width: 767px) {
    margin: 0;
    width: 128px;
    align-self: center;
    z-index: 12;
  }
}

:global(.menu),
:global(.menu li) {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

:global(.menu) {
  z-index: ui-menu;
}

:global(.menu li) {
  & > a {
    color: ui-white;
    display: inline-block;
    vertical-align: bottom;
  }
}

:global(.menu.primary) {
  & li {
    margin: 0 16px;
    &:before {
      position: absolute auto 0 0 0;
      height: 4px;
      background: ui-blue;
      content: '';
      opacity: 0;
      will-change: transform;
      transform: scaleX(0);
      transition: transform 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    &:hover:before,
    &:global(.current):before {
      opacity: 1;
      transform: scaleX(1);
    }
    & > a {
      padding: 20px 0;
      white-space: nowrap;
    }
  }
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid color(ui-white a(48%));
    & li {
      margin: 0;
    }
  }
}

:global(.menu.secondary) {
  float: right;
  @media (max-width: 767px) {
    float: none;
  }
}

:global(.menu-link) {
  & li {
    margin: 0 16px;
    &:hover {
      & > a {
        opacity: 1;
      }
    }
    &:global(.current) {
      & > a {
        opacity: 1;
      }
    }
    & > a {
      padding: 20px 0;
      white-space: nowrap;
      opacity: .6;
      transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);;
    }
  }
}

:global(.menu-button) {
  padding: 12px 0;
}
