@value ui-menu from 'ui-zindex';

.container {
  position: fixed 0 0 auto;
  z-index: ui-menu;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .5s ease;

  &:global(.sticky) {
    transform: translateY(-100%);
  }
}

.container > nav {
  clear: fix;
  position: relative;
  border-bottom: 1px solid transparent;
}

.logo {
  padding: 20px 0;
  margin-right: 64px;
  fill: white;
  display: inline-block;
  vertical-align: bottom;

  & svg {
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
  }

  @media (max-width: 991px) {
    margin-right: 36px;
  }

  @media (max-width: 767px) {
    margin: 0;
  }
}
