{{svg-icon}}

<div class="w-container normal">
  <h1 local-class="icon-title">SVG icon Preview</h1>
  <div local-class="svg-icon">
    {{#each model.svg as |item|}}
      <div local-class="wrapper">
        <div local-class="svg-container">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16">
            <use xlink:href={{item.svgID}}></use>
          </svg>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div local-class="attr">
  <span>Click on icon copy the <strong>SVG ID</strong> to the clipboard</span>
</div>