{{svg-icon}}

<div class="w-container normal">
  <h1 local-class="icon-title">SVG icon Preview</h1>
  <div local-class="svg-icon">
    {{#each model.svg as |item|}}
      <div local-class="wrapper">
        <div local-class="svg-container">
          {{ui-icon icon=item.icon size='16'}}
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div local-class="attr">
  <span>Click on icon copy the <strong>SVG ID</strong> to the clipboard</span>
</div>